USE [STATEMACHINE]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_retorno_lote]    Script Date: 03/02/2023 15:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_insert_retorno_lote](
      @STATUS_REGISTRO_TRANSMISSAO      INT
    , @ID_TRANSMISSAO					NVARCHAR(100)
    , @DATA_HORA_TRANSMISSAO			DATETIME
    , @REGISTRADORA_TRANSMISSAO			NVARCHAR(50)
    , @ID_REGISTRO						INT
    , @TIPO_REGISTRO					NVARCHAR(80)
	, @MENSAGENS						[dbo].[MENSAGENS_TYPE] READONLY
	, @MENSAGEM_RETORNO	                VARCHAR(100) = NULL
	, @HTTP_STATUS						INT
)
AS
BEGIN
	BEGIN TRANSACTION
		INSERT INTO [dbo].[REGISTRO_TRANSMISSAO] (
			  STATUS_REGISTRO_TRANSMISSAO
			, ID_TRANSMISSAO
			, DATA_HORA_TRANSMISSAO
			, REGISTRADORA_TRANSMISSAO
			, ID_REGISTRO
			, TIPO_REGISTRO
			, MENSAGEM_RETORNO
			, HTTP_STATUS
		)
		VALUES (
			  @STATUS_REGISTRO_TRANSMISSAO
			, @ID_TRANSMISSAO
			, CONVERT(DATETIME, @DATA_HORA_TRANSMISSAO, 103)
			, @REGISTRADORA_TRANSMISSAO
			, @ID_REGISTRO
			, @TIPO_REGISTRO
			, @MENSAGEM_RETORNO
			, @HTTP_STATUS
		)

		DECLARE @RETORNO_ID INT = IDENT_CURRENT('[dbo].[REGISTRO_TRANSMISSAO]')

		INSERT INTO [dbo].[MENSAGEM_RETORNO](            
			  ID_REGISTRO_TRANSMISSAO 
			, CONSTANTE_ERRO          
			, MENSAGEM_ERRO          		
		)
		SELECT
			  @RETORNO_ID
			, M.CONSTANTE_ERRO
			, M.MENSAGEM_ERRO
		FROM @MENSAGENS AS M
	COMMIT TRANSACTION
END
